@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-color: #272725;
  color: #13d1ff;
  text-shadow: 0 0 7px #13d1ff, 0 0 10px #13d1ff, 0 0 21px #13d1ff,
    0 0 42px #13d1ff, 0 0 82px #13d1ff, 0 0 92px #13d1ff, 0 0 102px #13d1ff,
    0 0 151px #13d1ff;
}

#calcContainer {
  height: 300px;
  width: 300px;
}

#display {
  border: 1px solid black;
  border-radius: 2%;
  font-size: 20px;
  justify-content: center;
  border: 1px solid #13d1ff;
  align-items: center;
  color: #13d1ff;
  text-shadow: 0 0 7px #13d1ff, 0 0 10px #13d1ff, 0 0 21px #13d1ff,
    0 0 42px #13d1ff 0 0 82px #13d1ff, 0 0 92px #13d1ff, 0 0 102px #13d1ff,
    0 0 151px #13d1ff;
}

.row {
  width: 100%;
  height: 25%;
  display: flex;
  margin-bottom: 5px;
  justify-content: space-between;
}

.btn {
  height: 100%;
  width: 24%;
  border-radius: none;
  cursor: pointer;
  border-radius: 5%;
  font-size: 20px;
  background-color: #272725;
  /* border: 1px solid white; */
  color: #13d1ff;

  text-shadow: 0 0 7px #13d1ff, 0 0 10px #13d1ff, 0 0 21px #13d1ff,
    0 0 42px #13d1ff, 0 0 82px #13d1ff, 0 0 92px #13d1ff, 0 0 102px #13d1ff,
    0 0 151px #13d1ff;
  outline: none;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border: 1px solid #13d1ff;
}

.btn .middle {
  margin-left: 5px;
  margin-right: 5px;
}

.btn:hover {
  box-shadow: 0 0 5px #ffaa00;
  -webkit-box-shadow: 0 0 5px #ffaa00;
  -moz-box-shadow: 0 0 5px #ffaa00;
  border: 1px solid #ffaa00;
  color: #ffaa00;
  font-size: 22px;
  text-shadow: 0 0 7px #ffaa00, 0 0 10px #ffaa00, 0 0 21px #ffaa00,
    0 0 42px #ffaa00, 0 0 82px #ffaa00, 0 0 92px #ffaa00, 0 0 102px #ffaa00,
    0 0 151px #ffaa00;
}

#display:hover {
  box-shadow: 0 0 5px #ffaa00;
  -webkit-box-shadow: 0 0 5px #ffaa00;
  -moz-box-shadow: 0 0 5px #ffaa00;
  border: 1px solid #ffaa00;
  color: #ffaa00;
  font-size: 22px;
  text-shadow: 0 0 7px #ffaa00, 0 0 10px #ffaa00, 0 0 21px #ffaa00,
    0 0 42px #ffaa00, 0 0 82px #ffaa00, 0 0 92px #ffaa00, 0 0 102px #ffaa00,
    0 0 151px #ffaa00;
}

h1:hover {
  color: #ffaa00;
  font-size: 34px;
  text-shadow: 0 0 7px #ffaa00, 0 0 10px #ffaa00, 0 0 21px #ffaa00,
    0 0 42px #ffaa00, 0 0 82px #ffaa00, 0 0 92px #ffaa00, 0 0 102px #ffaa00,
    0 0 151px #ffaa00;
}
